body {
  font-family: Quicksand;
  -webkit-user-select: none;
  font-size: 15px;
}

a {
  text-decoration: none;
  -webkit-appearance: none;
}

.gradient-background {
  position: absolute;
  display: flex;
  justify-content: center;
  min-width: 850px;
  z-index: -3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #2b2b2b 0%, #000000 50%);
  overflow: hidden;
}

#instructions-container {
  position: absolute;
  z-index: 1000;
  display: flex;
  display: none;
  top: 10%;
  left: auto;
  width: auto;
  border: 3px double white;
  border-radius: 15px;
  padding: 10px 20px 15px 20px;
  background-color: darkgrey;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}

.instructions p {
  font-size: 15px;
}

.instructions h4 {
  border-bottom: 1px solid white;
}

#ok-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  height: 30px;
  width: 20%;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  transition: all .1s linear;
}

#ok-button:hover {
  background-color: rgb(216, 255, 216);
  cursor: pointer;
}

.title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 160px;
}

#zenscillator {
  font-size: 40px;
  margin-top: 12px;
}

#name {
  font-size: 20px;
  color: rgb(48, 185, 255);
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 70px;
}

.links img {
  filter: invert(100%);
  transition: all .2s ease-in-out;
}

.links img:hover {
  transform: scale(1.2);
}

#github, #mailto, #website {
  height: 46px;
  width: 46px;
}

#linkedin, #angellist {
  height: 50px;
  width: 50px;
}

#canvas {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#mute-container, #help-container {
  position: absolute;
  right: 1.5%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mute-container {
  bottom: 1.5%;
}

#help-container {
  top: 1.5%;
}

#mute-container i, #help-container i {
  transition: all .1s linear;
  color: rgba(255, 255, 255, 0.65);
  font-size: 2.5vmax;
}

#mute-container i:hover, #help-container i:hover {
  color: rgba(255, 255, 255, 1);
  font-size: 3.5vw;
  cursor: pointer;
}



/*  */  /*  */
/* KEYBOARD */
/*  */  /*  */

.keyboard-container {
  position: absolute;
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;
  height: 135px;
  width: 450px;
  bottom: 35px;
  border: 1.5px solid grey;
  border-radius: 5px;
  box-shadow: 0px 15px 60px 50px rgba(89, 89, 89, 0.3);
  background-color: rgba(196, 196, 196, 0.3);
}

.keyboard {
  position: relative;
  top: -3px;
  height: 85%;
  width: 95%;
  opacity: 0.5;
  box-shadow: 0px 0px 30px 12px rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 18px;
}

#spacer1 {
  width: 6.5%;
}

#spacer2, #spacer4, #spacer5, #spacer7 {
  width: 2.6%;
}

#spacer3, #spacer6 {
  width: 13%;
}

.flats-group {
  position: relative;
  top: 0px;
  display: flex;
  height: 60%;
  color: white;
}

.naturals-group {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  bottom: 60%;
  color: black;
}

.spacers {
  position: relative;
  opacity: 0;
  z-index: -10;
}

.natural, .flat {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all .07s linear;
  border: .5px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.natural {
  width: 10%;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5px;
}

.flat {
  width: 8%;
  z-index: 3;
  background-color: rgb(0, 0, 0);
  padding-bottom: 5px;
}

.red {
  background-color: rgba(255, 48, 48, 1);
}

.redorange {
  background-color: rgba(255, 106, 48, 1);
}

.orange {
  background-color: rgba(255, 175, 48, 1);
}

.orangeyellow {
  background-color: rgba(255, 217, 48, 1);
}

.yellow {
  background-color: rgba(251, 255, 48, 1);
}

.green {
  background-color: rgba(75, 255, 48, 1);
}

.teal {
  background-color: rgba(48, 255, 185, 1);
}

.lightblue {
  background-color: rgba(48, 255, 251, 1);
}

.blue {
  background-color: rgba(48, 185, 255, 1);
}

.bluepurple {
  background-color: rgba(48, 72, 255, 1);
}

.purple {
  background-color: rgba(192, 48, 255, 1);
}

.magenta {
  background-color: rgba(255, 48, 175, 1);
}

.keyboard-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 34px;
  border: 1px solid silver;
  border-radius: 5px;
  pointer-events: none;
  background-position: center;
  background-size: cover;
  transition: all .1s linear;
}

.flat .keyboard-image {
  height: 29px;
  width: 29px;
  box-shadow: 0px 3px 0.2px 0.2px rgba(255, 255, 255, 0.8);
}

.natural .keyboard-image {
  box-shadow: 0px 3px 0.2px 0.2px rgba(0, 0, 0, .3);
}

.extra .keyboard-image, .efxPane .keyboard-image {
  background-color: rgba(255, 255, 255, 0.7);
  height: 30px;
  width: 29px;
  margin: 3px;
  box-shadow: 0px 3px 0.2px 0.2px rgba(0, 0, 0, .3);
}

.keyboard-image:hover {
  cursor: pointer;
}

#colon {
  border: 1px solid #404040;
  box-shadow: 0px 3px 0.2px 0.2px rgba(0, 0, 0, 0.8);
}

.keydown .keyboard-image {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
  transform: translateY(3px);
}

.keydown {
  height: 101%;
}


/*  *//*  */
/*  EFX   */
/*  *//*  */

#efxPane {
  position: absolute;
  z-index: 5;
  top: -34px;
  left: -1px;
  height: 25px;
  width: 150px;
  padding-top: 7px;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid black;
  color: rgb(255, 255, 255);
  transition: all .1s ease;
  text-align: center;
  cursor: pointer;
}

#efxPane:hover {
  border: 1px solid white;
  border-bottom: 1px solid black;
}

#efxContainer {
  position: absolute;
  z-index: 4;
  bottom: -205px;
  left: 10px;
  display: flex;
  flex-direction: column;
  height: 192px;
  width: 380px;
  padding: 10px 10px 2px 10px;
  color: rgba(255, 255, 255, 0.6);
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: none;
  border-radius: 0px 20px 0 0;
  cursor: default;
}

.efxButton {
  width: 20%;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 5px;
  text-align: center;
  transition: all .1s linear;
  cursor: pointer;
}

.efxButton:hover {
  border: 1px solid white;
  color: white;
}

.effect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 100%;
}

progress {
  -webkit-appearance: none;
  width: 100px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 7px;
  border-radius: 5px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 15px;
  background-color: darkgrey;
}

progress[value]::-webkit-progress-value {
  border-radius: 15px;
  background-color: #c030ff;
  transition: all .1s linear;
}

.active {
  color: lightgreen !important;
}

.invisible {
  color: transparent;
  opacity: 0;
}

.hidden {
  display: none;
}

/*  *//*  */
/* OTHER  */
/*  *//*  */


.instrument-container {
  position: absolute;
  bottom: 10px;
  width: 400px;
  height: 24px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 0 0 5px 5px;
  border: 1.5px solid lightgrey;
  border-top: none;
}

.instrument {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 20%;
  transition: background-color .2s linear;
}

#triangle, #square, #sine, #membrane, #fm {
  border-right: 1px solid lightgrey;
  cursor: pointer;
}

#triangle:hover {
  background-color: rgba(48, 255, 251, 1);
}

#square:hover {
  background-color: rgba(255, 217, 48, 1);
}

#sine:hover {
  background-color: rgba(75, 255, 48, 1);
}

#membrane:hover {
  background-color: rgba(255, 106, 48, 1);
}

#fm:hover {
  background-color: rgba(192, 48, 255, 1);
}

.extra-container {
  position: absolute;
  z-index: -1;
  height: 40px;
  bottom: 173px;
  width: 405px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 5px 5px 0 0;
  border: 1.5px solid lightgrey;
  border-bottom: none;
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0 2px 0;
  transition: all .1s linear;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid lightgrey;
  border-radius: 3px;
  padding: 0 1px 2px 1px;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  background-color: white;
  font-weight: 600;
  color: black;
  box-shadow: 0px 0px 4.5px 1.1px rgba(0, 0, 0, .3);
}

#octaveDown:hover, #octaveUp:hover, .vibrato:hover {
  cursor: pointer;
}

.keyLarge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid lightgrey;
  border-radius: 3px;
  padding: 0 1px 2px 1px;
  width: 34px;
  height: 20px;
  margin: 0 3px;
  background-color: white;
  font-weight: 600;
  color: black;
  box-shadow: 0px 0px 4.5px 1.1px rgba(0, 0, 0, .3);
}

.keyLarge span {
  position: relative;
  top: 1px;
}

.pressed {
  color: lightgreen;
}

/* media queries */

@media (max-width: 700px) {
  .gradient-background {
    overflow-x: scroll;
  }
}
